@using System.Web.Optimization
@using CadeMeuPet.Models
@model Animal
@{
    ViewBag.Title = "DetalhesAnimal";
}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:600" type="text/css" rel="stylesheet" />
<link href="~/GoogleMaps/estilo.css" type="text/css" rel="stylesheet" />

<div class="jumbotron" style="width: 950px; height: 620px;">

    <div id="card" class="card" style="float: left; margin-top: -20px; margin-right: 30px; height: 500px; ">
        @if (Model.Situacao == 1)
        {
            <span class="badge badge-danger" style="width:70px">Bloqueado</span>
        }
        <span class="badge badge-primary" style="width:70px; margin-right: 180px;">@Html.DisplayFor(model => model.DataCadastro)</span> 
        <h2>@Html.DisplayFor(model => model.NomeAnimal)</h2>
        <img src="~/Images/@Model.Imagem" style="width: 200px; height: 200px; align-self: center"/><br/>

        <p class="mb-1"><b>Porte: </b> @Html.DisplayFor(model => model.Porte.Tamanho)</p>
        <p class="mb-1"><b>Especie: </b>@Html.DisplayFor(model => model.Tipo.Especie)</p>
        <div><b>Características: </b><footer class="blockquote-footer" style="height: 100%">@Html.DisplayFor(model => model.Caracteristicas)</footer></div>
        <input type="hidden" id="txtLatitude" value="@Model.Endereco.Latitude" />
        <input type="hidden" id="txtLongitude" value="@Model.Endereco.Longitude" />
      
      
    </div>
    <b>Última localização:</b>
    <div class="campos" style="float: right"> 
        <p>
            <a style="float: right; margin-left: 10px; margin-right: 10px;" href='@Url.Action("Index", "Home")' class="btn btn-primary">Voltar para a lista</a>
            <a style="float: right" href='@Url.Action("CadastrarComentario", "Comentario", new { @id = Model.AnimalId})' class="btn btn-info">Enviar Mensagem</a>
            <a style="float: right; margin-right: 10px;" href='@Url.Action("CadastrarDenuncia", "Denuncia", new { @id = Model.AnimalId})' class="btn btn btn-danger">Reportar</a>
        </p> 

            

    </div>
    <div id="mapa" ></div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    var geocoder;
    var map;
    var marker;
    var lat = $("#txtLatitude").val();
    var long = $("#txtLongitude").val();
  
    function initialize() {
        var latlng = new google.maps.LatLng(lat, long);
        var options = {
            zoom: 16,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("mapa"), options);

        geocoder = new google.maps.Geocoder();

        marker = new google.maps.Marker({
            map: map,
            draggable: true,
        });

        marker.setPosition(latlng);
    }
</script>
<script type="text/javascript" src="~/GoogleMaps/mapa.js"></script>