@using CadeMeuPet.Models
@model List<Animal>
@{
    ViewBag.Title = "ListaAnimaisUsuario";
}

<div class="jumbotron" style="width: 96%">
    <table class="table table-hover">
        <tr class="table-secondary" style="text-align: center">
            <th scope="col">Foto</th>
            <th scope="col">Nome</th>
            <th scope="col" style="max-width: 20px;">Data Postagem</th>
            <th scope="col">Ver Postagem</th>
            <th scope="col" style="max-width: 20px;">Editar dados</th>
            <th scope="col" style="max-width: 20px;">Editar endereço</th>
            <th scope="col" style="max-width: 20px;">Achei meu pet</th>
            <th scope="col" style="max-width: 20px;">Status</th>
        </tr>
        @if (Model != null)
        {
            foreach (Animal animal in Model)
            {
                <tr class="table-primary">
                    <td><img src="~/Images/@animal.Imagem" style="width: 100px; height: 100px" /></td>
                    <td>@animal.NomeAnimal</td>
                    <td>@animal.DataCadastro</td>
                    <td>@Html.ActionLink("Ver postagem", "DetalhesAnimal", "Home", new { id = animal.AnimalId }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Editar animal", "AlterarAnimal", "Home", new { id = animal.AnimalId }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Editar animal", "AlterarEndereco", "Endereco", new { id = animal.EnderecoId }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Bloquear post", "AnimalEncontrado", "Home", new { id = animal.AnimalId }, new { @class = "btn btn-primary" })</td>
                    @if (animal.Situacao == 1)
                    {
                        <td class="text-danger">Bloqueado</td>
                    }
                    else
                    {
                        <td class="text-success">Desbloqueado</td>
                    }
                </tr>
            }
        }


    </table>
</div>

