@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/estilo.css" rel="stylesheet" />
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDLHiKJZILq97DnN0qKzmUVRFGjwvZvvSA&amp;sensor=false"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jsglobal")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href='@Url.Action("Index", "Home" , new { id = 0 }))' style="margin-bottom: 10px; margin-top: 5px; margin-right: 20px"><img src="~/Content/img/CADEMEUPET.png" /></a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav" style="margin-right: 20px">
                @if (Request.IsAuthenticated)
                {
                    if (Session["IsAdmin"].ToString() == "Admin")
                    {
                        <li class="dropdown" style="margin-left: 10px; margin-right: 15px">
                            <a href="javascript:void(0)" class="dropbtn" style="text-decoration: none;">Gerenciar website</a>
                            <div class="dropdown-content">
                                @Html.ActionLink("Gerenciar Tipo", "Index", "Tipo", null, new { @class = "nav-link" })
                                @Html.ActionLink("Gerenciar Porte", "Index", "Porte", null, new { @class = "nav-link" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Denúncias", "Index", "Denuncia", null, new { @class = "nav-link" })
                                @Html.ActionLink("Animais Bloqueados", "AnimalBloqueado", "Denuncia", null, new { @class = "nav-link" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown" style="margin-left: 10px;">
                            <a href="javascript:void(0)" class="dropbtn" style="text-decoration: none;">Gerenciar postagem</a>
                            <div class="dropdown-content">
                                @Html.ActionLink("Cadastrar Animal", "CadastrarEndereco", "Endereco", null, new { @class = "nav-link" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Mensagens", "Index", "Comentario", null, new { @class = "nav-link" })
                                @Html.ActionLink("Ver Suas Postagens", "ListaAnimaisUsuario", "Home", null, new { @class = "nav-link" })
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        @if (!Request.IsAuthenticated)
        {
            <a href='@Url.Action("Login", "Usuario")' style="margin-bottom: 10px; margin-top: 5px; margin-right: 20px"> <img src="~/Content/img/login.png" /></a>
        }
        else
        {    <small style="padding: 1%; color: dodgerblue "><b>Bem vindo!</b> @Session["Nome"].ToString()</small>
        <a href='@Url.Action("Logout", "Usuario")' style="margin-bottom: 10px; margin-top: 5px; margin-right: 20px"> <img src="~/Content/img/logout.png" /></a>
        }
    </nav>

    <div>
        @RenderBody()
    </div>



    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Sobre Nós  <i class="icofont-paw"></i></h5>
                    <p>O #CadeMeuPet é uma ferramenta gratuita e sem fins lucrativos.
                        Temos por objetivo auxiliar na divulgação de pets desaparecidos para eles possam
                        retornar ao seus lares o mais breve possível.
                        </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

    

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Institucional</h5>

                    <ul class="list-group" style="list-style-type: none">
                        <li>
                            <a href="#!">Termos de Uso</a>
                        </li>
                        <li>
                            <a href="#!">Política de privacidade</a>
                        </li>
                        <li>
                            <a href="#!">Webservice para Desenvolvedores</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            &copy; @DateTime.Now.Year - Desenvolvido por Estefani Fujimoto e Raphael de Lima
            <a href='@Url.Action("Index", "Home" , new { id = 0 }))'><br/> CadeMeuPet.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>
