@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/estilo.css" rel="stylesheet" />
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDLHiKJZILq97DnN0qKzmUVRFGjwvZvvSA&amp;sensor=false"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href='@Url.Action("Index", "Home")' style="margin-bottom: 10px; margin-top: 5px; margin-right: 20px"><img src="~/Content/img/CADEMEUPET.png" /></a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="margin-left: 10px;">
                    @Html.ActionLink("Gerenciar Tipo", "Index", "Tipo", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item" style="margin-left: 10px;">
                    @Html.ActionLink("Gerenciar Endereço", "Index", "Endereco", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item" style="margin-left: 10px;">
                    @Html.ActionLink("Gerenciar Porte", "Index", "Porte", null, new { @class = "nav-link" })
                </li>
            </ul>
      </div>
</nav>

<div>
    @RenderBody()
</div>

    <hr />
    <footer style="text-align: center; margin-bottom: 30px">
        <p>&copy; @DateTime.Now.Year - Desenvolvido por Estefani Fujimoto e Raphael de Lima</p>
    </footer>
</body>

</html>
