
@{
    ViewBag.Title = "AlterarPorte";
}

@using CadeMeuPet.Models
@model Porte
@{
    ViewBag.Title = "Cadastrar Porte";
}

    @using (Html.BeginForm("AlterarPorte", "Porte", FormMethod.Post, new { @class = "form-group", enctype = "multipart/form-data" }))
    {

        <div class="jumbotron">

            @Html.AntiForgeryToken()<br />
           
            <fieldset>
                <legend>Editar o Porte</legend>
                @Html.HiddenFor(model => model.PorteId)

                @Html.LabelFor(Model => Model.Tamanho)
                @Html.ValidationMessageFor(Model => Model.Tamanho, null, new { @class = "text-danger" })<br />
                @Html.TextBoxFor(Model => Model.Tamanho,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Tamanho"

                    })<br />
                @Html.ValidationSummary(true, null, new { @class = "text-danger" })
            </fieldset>
            <input type="submit" value="Alterar" class="btn btn-success" />
        </div>
    }

