@using System.Web.Optimization
@model CadeMeuPet.Models.Usuario
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<link href="~/Content/estiloLogin.css" rel="stylesheet" />
<body>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="jumbotron" >
  
<div class="card mb-3">
    <form class="modal-content animate">

        <div class="imgcontainer">
            <img src="~/Content/img/modalLogin.png" alt="Avatar">
        </div>

        <div class="form-group">
            <div class="label">@Html.LabelFor(Model => Model.Email)</div>       
            @Html.TextBoxFor(Model => Model.Email,
                new
                {
                    @class = "form-control",
                    @placeholder = "Ex: exemplo@exemplo.com"

                })<br/>
            @Html.ValidationMessageFor(Model => Model.Email)<br/>
            <div class="label">@Html.LabelFor(Model => Model.Password)   </div>                         
            @Html.PasswordFor(Model => Model.Password,
                new
                {
                    @class = "form-control",
                    @placeholder = "Digite aqui sua senha."

                })<br/>
            @Html.ValidationMessageFor(Model => Model.Password, null, new { @class = "text-danger" })<br />


            @Html.ValidationSummary(true, null,
                new { @class = "text-danger" })
            <div class="card mb-3">
                <button type="submit">Login</button>
                <p class="text-center text-muted"><b>Não é registrado ainda?</b></p>
                <p class="text-center text-muted"><a href='@Url.Action("Index", "Home")'><strong>Cadastre-se agora!</strong></a><br /><b>É muito fácil e leva apenas 1&nbsp;minuto!</b></p>
            </div>




           
    </form>
</div>
</div>



        
    
            
  
}
    </body>

