@using CadeMeuPet.Models
@model Denuncia
@{
    ViewBag.Title = "CadastrarDenuncia";
}

    
        <hr />
        @using (Html.BeginForm("CadastrarDenuncia", "Denuncia", FormMethod.Post, new { @class = "form-group", enctype = "multipart/form-data" }))
        {

            <div class="jumbotron">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                <fieldset>
                    <div class="alert alert-dismissible alert-danger">Esta postagem é falsa ou de venda ilegal e viola o direito dos animais? Denuncie aqui!</div>
                    @Html.HiddenFor(model => model.AnimalId)

                    @Html.LabelFor(Model => Model.Motivo, null, new { @style = "color: #000000" })
                    @Html.ValidationMessageFor(Model => Model.Motivo, null, new { @class = "text-danger" })<br />
                    @Html.TextBoxFor(Model => Model.Motivo,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Descreva o motivo da denúncia"

                    })<br />
                </fieldset>
                <input type="submit" value="Registrar denúncia" class="btn btn-success" />
                <a style="margin-left: 10px; margin-right: 10px;" href='@Url.Action("Index", "Home")' class="btn btn-primary">Voltar para a home</a>
            </div>
        }
    </div>


