@using CadeMeuPet.Models
@model List<Denuncia>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style=" width: 1300px">
    <table class="table table-hover">
        <tr class="table-secondary">
            <th scope="col">Data da Denúncia</th>
            <th scope="col">Denuncia</th>
            <th scope="col">Animal Id</th>
            <th scope="col">Postagem</th>
            <th scope="col">Remover</th>
            <th scope="col">Bloquear Postagem</th>
            <th scope="col">desbloquear Postagem</th>
        </tr>

        @foreach (Denuncia denuncias in Model)
        {
            <tr class="table-primary">
                <td>@denuncias.DataDenuncia</td>
                <td>@denuncias.Motivo</td>
                <td>@denuncias.AnimalId</td>
                <td>@Html.ActionLink("Ver Postagem", "DetalhesAnimal", "Home", new { id = denuncias.AnimalId }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Remover", "RemoverDenuncia", "Denuncia", new { id = denuncias.DenunciaId}, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Bloquear","AnimalEncontrado","Home", new { id = denuncias.AnimalId}, new { @class ="btn btn-primary"})</td>
                <td>@Html.ActionLink("Desbloquear","DesbloquearAnimal","Home", new { id = denuncias.AnimalId}, new { @class = "btn btn-primary"})</td>
            </tr>
        }

    </table>
</div>

