@using System.Web.Optimization
@using CadeMeuPet.Models
@model Endereco
@{
    ViewBag.Title = "CadastrarEndereco";
 

}

<link href="http://fonts.googleapis.com/css?family=Open+Sans:600" type="text/css" rel="stylesheet" />
<link href="~/GoogleMaps/estilo.css" type="text/css" rel="stylesheet" />


@using (Html.BeginForm("CadastrarEndereco", "Endereco", FormMethod.Post, new { @class = "form-group", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
    <fieldset>
        
        <div class="jumbotron">
            <div class="form-horizontal">

        <h3>Qual foi a ultima localização do seu Bichinho?</h3>        
               
                <br />

                @Html.LabelFor(Model => Model.Logradouro, null, new { @style = "color: #000000" })
                @Html.ValidationMessageFor(Model => Model.Logradouro, null, new { @class = "text-danger" })<br />
                @Html.TextBoxFor(Model => Model.Logradouro,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Digite aqui a última localização do animal. Ex : Rua, Av ..."

                        })<br />



                @Html.LabelFor(Model => Model.CEP, null, new { @style = "color: #000000" })
                @Html.ValidationMessageFor(Model => Model.CEP, null, new { @class = "text-danger" })<br />
                @Html.TextBoxFor(Model => Model.CEP,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "00000-000"

                        })<br />

                @Html.EditorFor(model => model.Ip, new { htmlAttributes = new { @class = "esconde" } })


                @Html.EditorFor(model => model.Navegador, new { htmlAttributes = new { @class = "esconde" } })

                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "esconde" } })


                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "esconde" } })


                <div class="form-group col-lg-6">

                    <div class="campos">
                        <label for="mapa">Mapa:</label>

                    </div>
                    <div id="mapa"></div>

                    <input type="hidden" id="txtLatitude" name="txtLatitude" />
                    <input type="hidden" id="txtLongitude" name="txtLongitude" />

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cadastrar" class="btn btn-success" />
                        @*<a href="@Url.Action("Index", "Endereco")" class="btn btn-danger">Voltar</a>*@
                    </div>
                </div>

            </div>


        </div>





    </fieldset>

}





@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}



<script>
        var geocoder;
        var map;
        var marker;

        function initialize() {
            var latlng = new google.maps.LatLng(-25.4289541, -49.267137);
            var options = {
                zoom: 10,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("mapa"), options);

            geocoder = new google.maps.Geocoder();

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
            });

            marker.setPosition(latlng);
        }
</script>
<script type="text/javascript" src="~/GoogleMaps/mapa.js"></script>




