@using CadeMeuPet.Models
@model Tipo
@{
    ViewBag.Title = "Cadastrar Tipo";
}

   
      
    @using (Html.BeginForm("CadastrarTipo", "Tipo", FormMethod.Post, new { @class = "form-group", enctype = "multipart/form-data" }))
    {

        <div class="jumbotron">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
            <fieldset>
                <legend>Cadastro do Tipo</legend>


                @Html.LabelFor(Model => Model.Especie, null, new { @style = "color: #000000" })
                @Html.ValidationMessageFor(Model => Model.Especie, null, new { @class = "text-danger" })<br />
                @Html.TextBoxFor(Model => Model.Especie,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Espécie, raça ou tipo do animal"

                    })<br />
            </fieldset>
            <input type="submit" value="Cadastrar" class="btn btn-success" />
        </div>
    }
   
